*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    overflow: hidden;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 100vw;
    height: 100vh;
    background-color: #19191F;
}

.topContent{
    width: 100vw;
    height: 90vh;
    background-color: #19191F;
}

.leftSidebar{
    width: 15vw;
    height: 90vh;
    background-color: hsl(240, 11%, 12%);
}

.logo{
    width: 15vw;
    height: 6vw;

}

.sidebarMenu{
    width: 15vw;
    height: 30vw;
}

.menu-item{
    width: 15vw;
    height: 5vw;

}

.menu-title:hover{
    color: #43F0BC;
}


.menu-icon{
    width: 5vw;
    height: 5vw;
}

.menu-title{
    width: 10vw;
    height: 5vw;

    justify-content: flex-start;
    color: hsl(0, 0%, 75%);
    padding-left: 0.5vw;
    font-size: 1.4vw;
    letter-spacing: 0.25px;
}

.mainContent{
    width: 85vw;
    height: 90vh;    
}

.mainContent h1{
    color: #43F0BC;
    margin: 2vw;
    letter-spacing: 1.5px;
}

.bottomContent{
    width: 100vw;
    height: 10vh;
    background-color: hsl(240, 11%, 10%);
    justify-content: flex-start;
}

a{
    text-decoration: none;
}

.active{
    color: hsl(162, 85%, 45%);
    font-weight: 600;
}

.song_poster{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: #19191F;
    margin: 0 1vw 0 3vw;
}
.song_poster img{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
}

.song_details{   
    height: 8vh;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1vw 0 0.5vw;
}
.song_title{
    color: #fff;
    font-size: 1.3vw;
    font-weight: 600;
}
.song_subtitle{
    color:#fff;
    font-size: 0.9vw;
    font-weight: 300;
}

.song_controls{
    width: 27vh;
    height: 8vh;
    margin: 0 1vw 0 0.5vw;
    justify-content: space-between;
}

.song_button{
    width: 8vh;
    height: 8vh;
    cursor: pointer;

}
.song_button img{
    width: 5vh;
    height: 5vh;
    cursor: pointer;
}

.navbar{
    justify-content: space-between;
    margin-bottom: -2vw;
    margin-top: -1vw;
}

.after_login{
    margin-right : 3vw;
    font-weight : 500;
    color :#43F0BC;
}


.friend-box{
    width: 36vw;
    height: 17vw;
    background-color: hsl(240, 11%, 15%);
    margin: 0.5vw 3vw;
    border-radius: 1vw;
    color: #fff;
    font-size: 2.7vw;
}
.friend-grid{
    margin-top: 1vw;
}



.box{
    width: 30vw;
    height: 65vh;
    background-color: #212429;
    overflow: hidden;
    border-radius: 20px;
    box-shadow:  5px 5px 10px #131317,
             -5px -5px 10px #1f1f27;
    margin-top: 3vw;
}

.box-header{
    width: 30vw;
    height: 15vh;
    letter-spacing: 4px;
    font-size: 1.6vw;
    color: #43F0BC;
}
.box-content{
    width: 30vw;
    height: 50vh;

}


.form-title{
    color: #43F0BC;
    letter-spacing: 2px;
    margin: 0.75vw 2vw;
    font-weight: 600;
    font-size: 1.4vw;
}

.form-input input{
    width: 26.5vw;
    height: 3.6vw;
    border-radius: 1.8vw;
    border: none;
    background-color: #31363d;
    padding-left: 20px;
    margin: 0vw 1.5vw 2vw 1.5vw;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: inset 2px 2px 3px #131317,
    inset -2px -2px 3px #1f1f27;
}

.form-submit{
    width: 12vw;
    height: 3.6vw;
    border-radius: 2vw;
    border: none;
    color: #19191F;
    background-color: #43F0BC;
    letter-spacing: 1.5px;
    font-size: 1.5vw;
    margin: 2vw 0vw 1vw 0vw;
    font-weight: 600;

}

textarea:focus,input:focus,input:hover{
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.form-submit:focus,.form-submit:hover{
    outline: none;
    color: inherit;
    letter-spacing: 1.5px;
}

.box-footer{
    width: 30vw;
    height: 15vh;

}


